Example[[:space:]]Videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
Example[[:space:]]Videos/Never[[:space:]]Gonna[[:space:]]Give[[:space:]]You[[:space:]]Up.mp4 filter=lfs diff=lfs merge=lfs -text
